name: Deploy to Firebase Hosting on Merge
'on':
  push:
    branches:
      - main
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm ci
      - run: npm install -g firebase-tools
      - name: Enable Web Frameworks Experiment
        run: firebase experiments:enable webframeworks
      - run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_STUDIO_8430853417_ECD91 }}' > ${{ github.workspace }}/gcloud-service-key.json
      - name: Deploy to Firebase
        run: firebase deploy --project studio-8430853417-ecd91 --non-interactive
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ github.workspace }}/gcloud-service-key.json
